@media only screen and (max-width: 959px) {
	#logo {
	font-size:21px;
	margin-bottom:15px
	}
	
	nav .button {
	padding:9px 20px 11px
	}
	}
	
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	nav {
	width:160px
	}
	
	.sidebar h2 {
	font-size:18px
	}
	
	#bio {
	font-size:14px
	}
	}
	
	@media only screen and (max-width: 767px) {
	header h1 {
	font-size:34px;
	line-height:37px
	}
	
	nav {
	position:relative
	}
	
	nav ul,#logo {
	text-align:left
	}
	
	.sidebar {
	display:none
	}
	
	.content {
	border:0;
	padding-left:0
	}
	}
	
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	.sidebar {
	display:none
	}
	
	h1 {
	font-size:28px;
	line-height:36px
	}
	}
	
	@media only screen and (max-width: 479px) {
	.sidebar {
	display:none
	}
	
	h1 {
	font-size:24px;
	line-height:32px
	}
	
	h2 {
	font-size:22px;
	line-height:24px
	}
	}