<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta name="keywords" content="tiernano, Tiernan OToole, technical, gadgetking, geek stuff" />
<meta name="description" content="TiernanOToole.ie is the home page of Tiernan OToole, a Programmer, Geek and Photographer from Dublin, Ireland" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ page.title }} - Tiernan's git push blog</title>

<!-- Prefetch -->
<link rel="dns-prefetch" href="http://partner.googleadservices.com/">
<link rel="dns-prefetch" href="http://fonts.googleapis.com/">
<link rel="dns-prefetch" href="http://feeds.feedburner.com/">
<link rel="dns-prefetch" href="http://api.viglink.com/">
<link rel="dns-prefetch" href="http://cdn.viglink.com/">
<base href="https://www.tiernanotoole.ie/" />
<link rel="canonical" href="https://www.tiernanotoole.ie{{ page.url | replace:'index.html','' }}" />
<link rel="stylesheet" type="text/css" href="/style.css" />
<link href='https://fonts.googleapis.com/css?family=Istok+Web:400,700' rel='stylesheet' type='text/css'>

<!-- verifications -->
<!-- TradeDoubler site verification 2179170 -->
<meta name="msvalidate.01" content="1955CF7038386AB823BB2A22F26C7F2F" />
<!-- end verifications -->

<script type='text/javascript' src='https://partner.googleadservices.com/gampad/google_service.js'>
</script>
<script type='text/javascript'>
GS_googleAddAdSenseService("ca-pub-6435972961836580");
GS_googleEnableAllServices();
</script>
<script type='text/javascript'>
GA_googleAddSlot("ca-pub-6435972961836580", "post_lead_in");
GA_googleAddSlot("ca-pub-6435972961836580", "sidebar");
</script>
<script type='text/javascript'>
GA_googleFetchAds();
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-220614-15']);
  _gaq.push(['_trackPageview']);
   setTimeout("_gaq.push(['_trackEvent', '15_seconds', 'read'])", 15000);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("89d6ea113ff9c8bb3e52308e0e2056cf");</script><!-- end Mixpanel -->

</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="/">TiernanOToole.ie</a></h1>
				<p>Yup... another blog...</p>
			</div>
			<div id="menu">
				<ul>
					<li><a href="/">Blog Home</a></li>
					<li><a href="/about.html">About</a></li>
					<li><a href="http://feeds.feedburner.com/tiernanotoole">Feed</a></li>
				</ul>
				
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="page">
		<div id="content">
			<div class="post">
				{{ content }}
			</div>
			<div id="about">
				<h2>About</h2>
				<p>Geek, From Dublin, Ireland. What more can i say?</p>
				<h2>Contact Details</h2>
				<p>Tiernan OToole<br/>
					Twitter: <a href="http://twitter.com/tiernano">@tiernano</a><br/>
					Irish Ph: +353-1-555-1245<br/>
					UK Ph: +44-845-869-2488<br/>
					US Ph/SMS: +1-404-806-9387<br/>
					Skype: <a href="skype:tiernanotoole">tiernanotoole</a><br>
					<a href="http://www.tiernanotoole.ie">tiernanotoole.ie</a><br/>
					<a href="http://www.geekphotographer.com">geekphotographer.com</a><br/>
					<a href="http://blog.lotas-smartman.net">blog.lotas-smartman.net</a><br/>					
			</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<h2>Search</h2>
			<ul>
				<li>
					<form action="https://www.tiernanotoole.ie/search.html" id="cse-search-box">
					    <input type="hidden" name="cx" value="partner-pub-6435972961836580:6113752906" />
					    <input type="hidden" name="cof" value="FORID:10" />
					    <input type="hidden" name="ie" value="UTF-8" />
					    <input type="text" name="q" size="35" />
					    <input type="submit" name="sa" value="Search" />
					</form>
					<script type="text/javascript" src="https://www.google.ie/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
				</li>
			</ul>	
			<h2>Other Links</h2>
			<ul>
			<li><a href="/">Home</a></li>
            <li><a href="/archive.html">Archive</a></li>
			<li><a href="/about.html">About</a></li>
			<li><a href="https://secure.backblaze.com/r/01px2w">Backblaze: Get 1 
Month Free!</a> (promo code)</li>
             <li><a href="http://photos.geekphotographer.com">Photos</a></li>
             <li><a href="http://blog.lotas-smartman.net">Other Blog</a></li>
             <li><a href="http://miniblog.tiernanotoole.ie">Micro Blog</a></li>
             <li><a href="http://twitter.com/tiernano">Follow me on Twitter</a></li>
			</ul>
			<h2>Interesting tags</h2>
			<ul>
				<li><a href="/tag/VoIP/">VoIP stuff</a></li>
				<li><a href="/tag/Projects/">Projects</a></li>
				<li><a href="/tag/Programming/">Programming</a></li>
				<li><a href="/tag/Media%20Center/">Media Center</a></li>
				<li><a href="/tag/Raspberry%20Pi/">Raspberry Pi Stuff</a></li>
				<li><a href="/tag/Networking/">Networking</a></li>
				<li><a href="/tag/IPv6/">IPv6</a></li>
              <li><a href="/tag/Announcement/">Announcements</a></li>
			</ul>

			<h2>My Home network</h2>
			<ul>				
				<li><a href="/Computers/godbox.html">Godbox</a></li>
				<li><a href="/Computers/GodBoxV2.html">GodBoxV2</a></li>
			</ul>
			<h2>Paying the bills...</h2>
			<ul>
				<li>
					<!-- sidebar -->
					<script type='text/javascript'>
					GA_googleFillSlot("sidebar");
					</script>
				</li>
			</ul>
			
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>Copyright (c) 2016 <a href="http://www.tiernanotoole.ie">Tiernan OToole</a>. {% render_time Page generated at: %}. Page Edited on {{page.git.last_commit.commit_date}} by {{page.git.last_commit.commit_name}} with hash {{page.git.last_commit.short_sha}}</p>
</div>
<!-- end #footer -->
<script type="text/javascript">
  var vglnk = { api_url: '//api.viglink.com/api',
                key: 'aecb90add8b6f7192e42ddfa3e65b611' };

  (function(d, t) {
    var s = d.createElement(t); s.type = 'text/javascript'; s.async = true;
    s.src = ('https:' == document.location.protocol ? vglnk.api_url :
             '//cdn.viglink.com/api') + '/vglnk.js';
    var r = d.getElementsByTagName(t)[0]; r.parentNode.insertBefore(s, r);
  }(document, 'script'));

  mixpanel.track("Page View");
</script>
</body>
</html>
