<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.data.theme.name }}" />
    <meta name="description" content="The blog of {{ site.data.theme.name }}" />
    <!-- verifications -->
    <!-- TradeDoubler site verification 2179170 -->
    <meta content="1955CF7038386AB823BB2A22F26C7F2F" name="msvalidate.01" />
    <!-- end verifications -->

    <link rel="alternate" type="application/atom+xml" title="{{ site.data.theme.name }}" href="https://feeds.feedburner.com/tiernanotoole" />

    <link rel="stylesheet" href="/assets/css/all.css">

    <link rel="pingback" href="https://webmention.io/tiernanotoole.ie/xmlrpc" />
    <link rel="webmention" href="https://webmention.io/tiernanotoole.ie/webmention" /> {% seo %}

    <!-- 
To collect end-user usage analytics about your application, 
insert the following script into each page you want to track.
Place this code immediately before the closing </head> tag,
and before any other scripts. Your first data will appear 
automatically in just a few seconds.
-->
    <script type="text/javascript">
        var appInsights = window.appInsights || function(a) {
            function b(a) {
                c[a] = function() {
                    var b = arguments;
                    c.queue.push(function() {
                        c[a].apply(c, b)
                    })
                }
            }
            var c = {
                    config: a
                },
                d = document,
                e = window;
            setTimeout(function() {
                var b = d.createElement("script");
                b.src = a.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js", d.getElementsByTagName("script")[0].parentNode.appendChild(b)
            });
            try {
                c.cookie = d.cookie
            } catch (a) {}
            c.queue = [];
            for (var f = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; f.length;) b("track" + f.pop());
            if (b("setAuthenticatedUserContext"), b("clearAuthenticatedUserContext"), b("startTrackEvent"), b("stopTrackEvent"), b("startTrackPage"), b("stopTrackPage"), b("flush"), !a.disableExceptionTracking) {
                f = "onerror", b("_" + f);
                var g = e[f];
                e[f] = function(a, b, d, e, h) {
                    var i = g && g(a, b, d, e, h);
                    return !0 !== i && c["_" + f](a, b, d, e, h), i
                }
            }
            return c
        }({
            instrumentationKey: "6ba6d0d3-8f0c-43c9-bea2-1547cb66b576"
        });

        window.appInsights = appInsights, appInsights.queue && 0 === appInsights.queue.length && appInsights.trackPageView();
    </script>
</head>

<body>
    <div class="container">
        <div class="four columns sidebar">
            {% include sidebar.html %}
        </div>

        <div class="eleven columns content">
            {{ content }}
            <div class="footer">
                {% include footer.html %}
            </div>
        </div>
    </div>

    {% include analytics.html %}
</body>

</html>